<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <title>Compile</title>
   <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{% static 'devc.css' %}">
    <script src="{% static 'jquery.min.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ace-builds/src/ace.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ace-builds/src/ext-statusbar.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'ace-builds/src/ext-language_tools.js' %}" type="text/javascript" charset="utf-8"></script>

</head>
<body id="index" class="home">
<div class="lang-choose">
					<select class="form-control" name="lang" id="lang">
						<option value="C">C </option>
						<option value="CPP" selected>C++ </option>
						<option value="CLOJURE">Clojure </option>
						<option value="CSS">CSS</option>
                        <option value="CSHARP">C# </option>
                        <option value="GO">Go </option>
						<option value="HASKELL">Haskell </option>
						<option value="JAVA">Java </option>
						<option value="JAVASCRIPT">JavaScript </option>
                        <option value="LISP">Lisp </option>
						<option value="OBJECTIVEC">Objective-C </option>
                        <option value="PASCAL">Pascal </option>
						<option value="PERL">Perl </option>
						<option value="PHP">PHP </option>
						<option value="PYTHON">Python </option>
                        <option value="RUBY">Ruby </option>
						<option value="R">R </option>
						<option value="RUST">Rust </option>
						<option value="SCALA">Scala </option>
					</select>

				</div>
<div id="content">
    <!-- ************  CODING ZONE  ************ -->
    <div id="code">

        <form method="post" action="" id="contactsForm">



            <div id="title-code" class="head-section">

            </div>
            <input id="launch-button " class="head-section" type="submit" value="Launch" />
             {% csrf_token %}
            {% block code %}

            {% endblock %}
            <div id="editor-statusbar"></div>
        </form>
    </div>

    <!-- ************ RUNNING ZONE RESULTS ************ -->

    <div  id="result">
        <div id="title-result" class="head-section">
            Output result
        </div>
        {% block run %}
        {% endblock %}
    </div>

    <!-- ************ COMPILATION RESULTS ZONE ************ -->

    <div id="compile">
        <div id="title-compile" class="head-section">
            Compilation / Output
        </div>
        {% block comp %}
        {% endblock %}
    </div>
</div>
<script src="{% static 'ace-builds/src/ace.js' %}"></script>
<script src="{% static 'my_js.js' %}"></script>

</body>
</html>
