{% extends 'runcode/base.html' %}
{% block code %}

<pre id="editor"  name="code" ></pre>
{{code}}
<div id="editor-statusbar"></div>

<div id="text-code-ace" class="hidden">{{ code }}</div>

{% endblock %}

{% block run %}
<textarea id="text-result" rows="18" cols="70" readonly>{{ resrun }}</textarea>
{% endblock %}

{% block comp %}
<textarea id="text-compile" rows="7" cols="140" readonly>{{ rescomp }}</textarea>
{% endblock %}
