body {
    background: #E5E4DF;
    color: #000305;
    font-size: 87.5%; /* Base font size: 14px */
    font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.429;
    margin: 0;
    padding: 0;
    text-align: left;
}

li {
    display: inline;
}

#content {
    position: absolute;
    top: 50px;
    min-height: 600px;
    min-width: 900px;
    width: 100%;
    height: 90%;
}

#code {
    position: absolute;
    height: 60%;
    min-height: 350px;
    min-width: 400px;
    left: 10px;
    top: 5px;
    width: 48%;
}

#result {
    position: absolute;
    height: 60%;
    min-height: 350px;
    min-width: 400px;
    right: 10px;
    top: 5px;
    width: 48%;
}

#compile {
    position: absolute;
    right: 10px;
    left: 10px;
    min-height: 100px;
    min-width: 400px;
    /*width: 100%;*/
    height: 40%;
    bottom: 0px;
}

#launch-button {
    position: absolute;
    right: 0px;
}

.head-section {
    position: absolute;
    top: 0px;
    font-weight:bold;
}

#title-code {
    position: absolute;
    left: 5px;
}

#title-result {
    position: absolute;
    left: 5px;
}

#title-compile{
    position: absolute;
    left: 5px;
}

#editor, #text-code-ace {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 80%;
}

#text-code-ace {
    padding: 2px;
    border: 1px solid rgb(169, 169, 169);
}

#text-result {
    position: absolute;
    top: 50px;
    width: 100%;
    height: 80%;
}

#text-compile {
    position: absolute;
    bottom: 0px;
    left: 5px;
    width: 98%;
    height: 80%;
}

.hidden {
    display: none;
}
